<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Artículos

        <i *ngIf="rows_visible" class="fas fa-chevron-up float-right" (click)="rows_visible = false"></i>
        <i *ngIf="!rows_visible" class="fas fa-chevron-down float-right" (click)="rows_visible = true"></i>
      </div>
      <ul *ngIf="rows_visible" class="list-group list-group-flush">
        <li *ngFor="let article of service.articles" class="list-group-item d-flex justify-content-between align-items-center">
          <app-article-row [article]="article"></app-article-row>
        </li>
      </ul>
    </div>
  </div>
</div>
