<input type="number" [(ngModel)]="temperature">
<div class="parent">
  <div class="stick">
    <div class="measure-line" [ngStyle]="{'height': temperature + '%'}"></div>
  </div>
  <div class="circle"></div>
</div>
