.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.stick {
  width: 20px;
  height: 200px;
  border: 1px solid black;
  margin-left: 39px;
  display: flex;
  align-items: flex-end;
}

.measure-line {
  background-color: red;
  width: 100%;
}
